.chua{
  display: flex;
  justify-items: center;
}
.chua header{
 width: 20%;
  
}
.chua header .Navbar {
    width: 100%;
    color: aliceblue;
    background-color: rgb(26, 26, 26);
    min-height: 100vh;

}
.chua header .Navbar .Nav {
    width: 100%;
    text-align: center;
    


 

}
.chua header .Navbar .Nav .conten{
    padding: 50px 0;
    background-color: rgb(32, 37, 49);
    

 

}


.chua header .Navbar .Nav>a {
    margin:20px 0 ;
    


 

}
.chua section{
    width: 80%;
    background-color: rgb(207, 216, 221);
}


