.container .themmoi>div{
    margin:30px 0;
}

#tieude{
    font-size: 30px;
}

input{
    width: 100%;
}
#true-false{
    width: auto;
    margin: 0 10px;
}

.tensach{
   display: flex;
   justify-content: space-between;
}
.tensach .nguoiviet{
    background-color: rgba(0, 0, 0, 0.589);    
    border-radius: 10px;
    color: white;
 }

 .add{
    display: flex;
    justify-content: space-between;
 }

 .add svg{
    padding: auto;
    padding-right: 5px;
    
 }
